{% extends "base.html" %}
{% block head_title %}Add Hotels |{{block.super}}{% endblock head_title %}

{% block content %}
<h1>Add Hotels</h1>
{% if errors.non_field_errors%}
{{ errors.non_field_errors}}
{% endif %}
<form method='POST'>{% csrf_token %}
	{{form.as_p}}
	<button type="submit">Save</button>
</form>
{% endblock content %}

<!--form method='POST'>{% csrf_token %}
	<input type="text" name="title" placeholder="Your Title"><br/>
	<input type="text" name="location" placeholder="Your Location"><br/>
	<input type="text" name="category" placeholder="Your Category"><br/>-->